*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
/*This is a header and navbar css*/
header{
    background:rgba(0,0,0,.3);
    backdrop-filter: blur(100px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    height: 85px;
    font-weight: bolder;
    width: 95%;
    position: absolute;
    margin-left: 2.5rem;
    margin-top: 2rem;
}

header ul {
    display: flex;
    align-items: center;
    opacity: 1;
}
header ul li{
    color: white;
    list-style: none;
}
header ul li a{
    color: white;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    border-radius: 12px;
    margin-inline: 10px;
    transition: all 0.2s;
}
header ul li a:hover{
    background-color: white;
    color: black;
}
body{
    background: rgb(58,16,77);
    background-color: linear-gradient(157deg, rgba(58,16,77,1) 0%, rgba(0,0,0,1) 50%);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: white;
}
.mainTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.mainTitle h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.mainTitle img{
    width: 600px;
    height: 600px;
    padding-top: 90px;
}
.secondSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
    margin-top: 20px;
    border: 1px solid white;
    margin: 200px 200px 10px 200px;
    gap: 2rem;
}
.evolution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10%;
    text-align: center;
}

.groupP{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.penerapan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5% 10% 10% 10%;
    text-align: center;
}
.penerapan img{
    height: 500px;
}
.penerapan ul{
    text-align: left;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    height: 100px;
    background-color: black;
    font-size: large;
}
.social img{
    height: 35px;
    filter: invert(100%);
}
.social img:hover{
    animation: bounce2 1s ease ;
}