*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
/*This is a header and navbar css*/
header{
    background:rgba(0,0,0,.3);
    backdrop-filter: blur(100px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    height: 85px;
    font-weight: bolder;
    width: 95%;
    position: absolute;
    margin-left: 2.5rem;
    margin-top: 2rem;
}

header ul {
    display: flex;
    align-items: center;
    opacity: 1;
}
header ul li{
    color: white;
    list-style: none;
}
header ul li a{
    color: white;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    border-radius: 12px;
    margin-inline: 10px;
    transition: all 0.2s;
}
header ul li a:hover{
    background-color: white;
    color: black;
}

/*This is a Profile css*/
.mainProfile{
    background: rgb(58,16,77);
    background: linear-gradient(157deg, rgba(58,16,77,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 9%;
}

.sub-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sub-text h1{
    background-color: white;
    width: fit-content;
    border-radius: 24px;
    padding: 10px;
}
.sub-text h2{
    background-color: white;
    width: fit-content;
    border-radius: 24px;
    padding: 10px;
}
.sub-text p{
    font-weight: bolder;
    font-size: larger;
    padding-right: 10%;
    color: white;
}
.sub-text a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #333333;
    width: fit-content;
    border-radius: 12px;
    padding: 10px;
}
.sub-text a:hover{
    color: #333333;
    background-color: white;
}
.myImage{
    background: rgb(150,0,157);
    background: radial-gradient(circle, rgba(150,0,157,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 24px;
    margin: 20px;
    position: relative;
    z-index: 1;
}
.myImage img{
    filter: grayscale(50%);
    height: 550px;
    border-radius: 20px;
}

.imagegroup:hover .first{
    transform: rotate(15deg);
    top: 180px;
}
.imagegroup:hover .second{
    transform: rotate(-15deg);
    top: 180px;
}
/*about me section css*/
.about{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5vh;
}

.bgimage{
    height: 450px;
    position: relative;
    z-index: 0;
    border-radius: 0px 12px 12px 0px;
}
.mainimage{
    height: 350px;
    border: 10px solid white;
    position: absolute;
    z-index: 1;
    left: 35%;
    filter: grayscale(50%);
}
.aboutme{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0px 0px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about h2::before{
    content: "|";
}
.about h2{
    font-weight: bolder;
}
.about p {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}
/* Skill Section CSS*/
.container-skill{
    padding-top: 10%;
    color: white;
    text-align: center;
    background: rgb(150,0,157);
    background: linear-gradient( rgba(0,0,0,1) 0%,rgba(150,0,157,1) 200%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-skill h1{
    border-bottom: 1px solid white;
    width: fit-content;
}
.skill{
    display: flex;
    padding-top: 5%;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    gap: 100px;
    font-size: large;
}
.developer{
    border: 0.5px solid white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: fit-content;
    width: 30rem;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
.developer img{
    height: 200px;
}
.graphic{
    border: 0.5px solid white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: fit-content;
    width: 30rem;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    margin-left: 10vh;
}
.graphic img{
    height: 200px;
    border-radius: 12px;
}
.PR{
    border: 0.5px solid white;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    height: fit-content;
    width: 30rem;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
.PR img{
    height: 200px;
    filter: invert(100%);
}
.UserInterface{
    border: 0.5px solid white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: fit-content;
    width: 30rem;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    margin-left: 10vh;
}
.UserInterface img{
    height: 200px;
    filter: invert(100%);
}
/* Education Section CSS*/
.container-education{
    padding-top: 10%;
    color: white;
    text-align: center;
    background: linear-gradient( rgb(74, 1, 78) , black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 10% 20%;
    font-weight: bolder;
}
.education{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-inline: 100px;
}
.title {
    border-bottom: 1px solid white;
    width: fit-content;
}
.seniorHighSchool{
    border: 0.5px solid white;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    height: fit-content;
    width: 30rem;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
.seniorHighSchool img{
    height: 200px;
    margin-block: 50px;
}
.university{
    border: 0.5px solid white;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    height: fit-content;
    width: 30rem;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
.university img{
    height: 200px;
    margin-block: 50px;
}
/*Footer CSS*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    height: 100px;
    background-color: black;
    font-size: large;
}
.social img{
    height: 35px;
    filter: invert(100%);
}
.social img:hover{
    animation: bounce2 1s ease ;
}
/*Break Point for Mobile*/
@media  screen and (max-width:767px) {

    header{
        flex-direction: column;
        padding-bottom: 20px;
        right: 15px;
    }
    main .mainProfile{
        flex-direction: column-reverse;
        padding-top: 190px;
        order: -1;
        text-align: center;
    }
    .first,.second{
        top: 180px;
        left: 85px;
    }
    .imagegroup:hover .first{
        transform: rotate(0deg);
        top: 210px;
    }
    .imagegroup:hover .second{
        transform: rotate(0deg);
        top: 210px;
    }
    .imagegroup{
        padding-bottom: 75px;
    }
    .mainProfile .sub-text{
        justify-content: center;
        align-items: center;
    }
    .about{
        padding-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutme{
        justify-content: center;
        align-items: center;
    }
    .aboutme p {
        text-align: center;
    }
    .bgimage{
        height: 50%px;
        width: 50%px;
        border-radius: 12px;
    }
    .mainimage{
        height: 50%px;
        margin: 75px 20px 0px 0px;
    }
    .UserInterface{
        margin-left: 0;
    }
    .graphic{
        margin-left: 0;
    }
    .education{
        flex-direction: column;
    }
}
/*Break Point for Desktop*/
@media screen  and (min-width:1200px){

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .aboutme{
        padding-inline: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about h2::before{
        content: "";
    }
    .about h2{
        border-bottom: 1px solid white;
        width: fit-content;
    }

    .UserInterface{
        margin-left: 0;
    }
    .graphic{
        margin-left: 0;
    }



}

@media screen and (min-with: 768px) and (max-width:1199px){
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .education{
        display: flex;
        flex-direction: column;
        margin-inline: 200px;
    }
}
/*Animation*/
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}